body {
  font-size: 18px;
  margin: 10px 20px;
}
h1 {
  font-size: 22px;
}
h2 {
  font-size: 20px;
}

img {
  max-width: 100%;
  
}

figure {
  margin: 0 0 20px 0;
}


@media screen and (min-width: 768px) {
  body {
    background-color: aquamarine;
    max-width: 900px;
    margin: 35px 5%;
  }
  h1 {
    font-size: 1.5em;
  }

}