.container {
  display: inline-block;
  width: min(25rem, 50%);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: .5rem;
  padding: .8rem;
  margin: .8rem;
}
.pokemon {
  display: flex;
  justify-content: space-between;
}